<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269068614435-ivvnpv151ibnif4ptqddgjbrbem7nsfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269068614435-ivvnpv151ibnif4ptqddgjbrbem7nsfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269068614435-qdg5v84eln11fpuq4mpdsv7b3me0qesa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArSjs-EP1YKpXtd6EaXynpfSigJL9kPKo</string>
	<key>GCM_SENDER_ID</key>
	<string>269068614435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>notiq.NoteWriterKMP</string>
	<key>PROJECT_ID</key>
	<string>notiq-9bf13</string>
	<key>STORAGE_BUCKET</key>
	<string>notiq-9bf13.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269068614435:ios:42d5d1b21c97b9fb406a96</string>
</dict>
</plist>